@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

/* --- Custom variables --- */

:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;

  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;

  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;

  --inner-shadow: inset 0px 0px 0px #d0d0d0;
  --inner-shadow-2: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

  --dark-gray: #222129;
  --bright-orange: #f9947d;
  --white: #fff;
}

/* --- Global Style --- */

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black-50);
}

:not(i) {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  /*
  list-style: none;
  margin: 0;
  padding: 0;
  */
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  font-size: 16px;
  color: var(--text-black-600);
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  z-index: 1000;
  backdrop-filter: blur(15px);
}

ul li a {
  opacity: 0.8;
  transition: 0.25s;
}

ul li:hover a {
  opacity: 1;
}

#marker {
  position: absolute;
  top: 80px;
  left: 0;
  transition: 0.5s;
  z-index: -11111;
}

#marker::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background: var(--skin-color-2);
  box-shadow: 0 0 15px var(--skin-color-2), 0 0 30px var(--skin-color-2),
    0 0 45px var(--skin-color-2), 0 0 60px var(--skin-color-2);
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.inner-shadow-2 {
  box-shadow: var(--inner-shadow-2);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}

.align-items-center {
  align-items: center;
}

.btn-1 {
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 6;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
}

.btn-1:after {
  border-radius: 30px;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 6px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 1%;
  bottom: 20%;
  width: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 4s ease-in-out infinite;
}

.effect-2 div {
  height: 4px;
  width: 4px;
  background-color: #007aff;
  border: solid transparent;
  border-radius: 200px;
  margin: 0 3px 8px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color-3);
  border-radius: 80%;
  left: 84%;
  top: -1px;
  z-index: -1;
}

.effect-3-2 {
  height: 45px;
  width: 45px;
  border: 6px solid var(--skin-color);
  border-radius: 80%;
  left: 250px;
  top: 200px;
  animation: leftBounce 2.75s ease-in-out infinite;
}

.effect-3-3 {
  height: 45px;
  width: 45px;
  border: 6px solid var(--skin-color-3);
  border-radius: 80%;
  left: 80%;
  top: -30px;
  animation: uptransform 5s ease-in-out infinite;
  z-index: -1;
}

.effect-3-3-combined {
  height: 45px;
  width: 45px;
  border: 6px solid var(--skin-color-2);
  border-radius: 80%;
  left: 80%;
  top: -30px;
  animation: uptransform 4s ease-in-out infinite;
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotate(100deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}

@keyframes leftBounce {

  0%,
  100% {
    transform: translatex(0);
  }

  50% {
    transform: translatex(40px);
  }
}

@keyframes uptransform {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.3);
  }

  0% {
    transform: scale(1);
  }
}

.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}

/* --- Header --- */

.header {
  padding: 20px 15px;
  /*position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

/*.header .logo a {
  display: inline-block; ------------------------------------------------------------------------------------------------------------------------------------------------
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  color: var(--skin-color);
  border-radius: 20%;
  border: 2px solid var(--skin-color);
  font-weight: 600;
  text-transform: uppercase; 
}*/

.header .hamburger-btn {
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  cursor: pointer;
  border-radius: 20%;
  justify-content: center;
  transition: all 0.4s ease;
}

.header .hamburger-btn:after {
  border-radius: 50%;
}

.header .hamburger-btn span {
  display: block;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
  position: relative;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
}

.header .hamburger-btn span:before {
  top: -6px;
}

.header .hamburger-btn span:after {
  top: 6px;
}

/* --- Navigation Menu --- */

li,
a,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-600);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
  background-color: rgba(221, 221, 221, 0.2);
  /* Maybe */
  border-radius: 10px;
}

.logo {
  cursor: pointer;
  width: 70px;
  height: 70px;
}


.nav-links {
  list-style: none;
  box-shadow: 0 5px 250x rgba(0, 0, 0, 0.25);
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 5px 250x rgba(0, 0, 0, 0.25);
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--skin-color);
}

.nav-bar .nav-links {
  box-shadow: none;
}

button {
  color: whitesmoke;
  padding: 9px 25px;
  background-color: var(--skin-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: var(--skin-color-5);
}

.nav-links #selectLine {  /* Not working */
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: var(--skin-color);
  bottom: -4px;
  transition: 0.5s;
  border-radius: 4px;
}

/*

.nav-menu {
  position: fixed;
  background-color: var(--bg-black-50);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav-menu .close-nav-menu {
  height: 40px;
  width: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 20%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  transition: all 0.4s ease;
}

.nav-menu .close-nav-menu:after {
  border-radius: 20%;
}

.nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center; /* To center text in "Y & X" (Desactivar per veure) */
/*
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}

.nav-menu ul li a { 
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  color: var(--text-black-700);
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 18px;
  transition: all 0.4s ease;
}

.nav-menu ul li a.active {
  color: var(--skin-color);
}

.nav-menu ul li a:after {
  border-radius: 20%;
}

.nav-menu .copyright-text {
  position: absolute;
  top: 50%;
  font-size: 15px;
  color: var(--text-black-600);
  transform: translateY(-50%) rotate(-90deg);
  left: -60px;
}
*/
/* ---Home Section --- */

.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}

.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 0;
}

.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-700);
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

/* --- About Section ---- */

.btn-spaced {
  margin-left: 12px;
}

.about-section {
  padding: 80px 0 0;
  min-height: 100vh;
}

.about-section .about-img {
  flex: 0 0 40%;
  max-width: 40%;
}

.about-section .about-img .img-box {
  padding: 15px;
  border-radius: 6px;
}

.about-section .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 6px;
}

.about-section .about-img .social-links {
  margin-top: 20px;
  text-align: center;
}

.about-section .about-img .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--text-black-600);
  margin: 0 4px;
  border-radius: 20%;
  transform: rotateX 4s (30deg);
}

.about-section .about-img .social-links a i {
  line-height: 40px;
}

.about-section .about-img .social-links a:hover {
  color: var(--skin-color);
  animation: bigger-on-hover 1s linear infinite;
}

@keyframes bigger-on-hover {
  0% {
    transform: scale(1.2);
  }
}

.about-section .about-info {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}

.about-section .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
}

.about-section .about-tabs {
  padding: 60px 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.4s ease;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.5;
  transform: skew(2deg, -2deg);
}

.about-section .about-tabs .tab-item.active {
  color: var(--skin-color);
}

.about-section .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about-section .tab-content.active {
  display: block;
}

.about-section .skills .skill-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 35px;
}

.about-section .skills {
  padding: 0 0 40px;
}

.about-section .skills .skill-item p {
  font-size: 16px;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-section .skills .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.about-section .skills .skill-item .progress-bar {
  background-color: var(--text-black-600);
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}

.about-section .skills .skill-item .progress span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-600);
}

.about-section .experience {
  padding-bottom: 80px;
}

.about-section .timeline {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Mobile responsive */
@media (max-width: 1000px) {
  .nav-desktop {
    display: none;
  }

  .hamburger-btn {
    display: flex;
  }
}

@media (max-width: 850px) {
  .nav-bar .nav-links {
    box-shadow: none;
  }
}

/*.header .nav-desktop li a {
  display: flex;
  align-items: space-between;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-700);
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 18px;
  transition: all 0.4s ease;
} */

/* Image gallery */

/* ------ Photography section ------ */

.ph-section {
  padding-top: 160px;
}

.section-title p {
  padding-top: 25px;
}

.ph-p-font {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  color: var(--text-black-900);
  letter-spacing: 0.5px;
}

.ph-p-font .ph-sentence {
  color: var(--text-black-700);
  font-weight: 600;
}

/* Programs I use for editing + camera */

.fancy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-btn .fancy-btn-gear {
  padding: 10px;
  margin-top: 20px;
  color: var(--skin-color);
  border-radius: 20px;
  font-size: 22px;
  transition: all 0.5s ease-in-out;
}

.fancy-btn .fancy-btn-gear:hover {
  color: #fff;
  background: var(--skin-color);
}